:root {
    --top_nav: #000000;
    --nav_button: #363636;
    --button: #CD3D0F;
    --alt_button: #2D64E6;
    --plus_button: #D9DADC;
    --now_button:#F5F5F5;
    --now_bg: #161C3B;
    --dark_bg: #1F1F1F;
    --alt_bg: #BEBCBB;
    --footer_bg: #00439C;
}



.debug nav{
    width: 100%;
    height: 100px;
    background-color: green;
}

.debug .top_nav{
    width: 100%;
    height: 30px;
    background-color: var(--top_nav);
}

.debug .jumbotron{
    width: 100%;
    height: 400px;
    background-color: #000000;
}

.debug .game{
    width: 150px;
    height: 70px;
    background-color: green;
}

.debug .no_limits{
    width: 300px;
    height: 200px;
    background-color: green;
    text-align: center;
}