:root {
    --top_nav: #000000;
    --nav_button: #363636;
    --button: #CD3D0F;
    --alt_button: #2D64E6;
    --plus_button: #D9DADC;
    --now_button:#F5F5F5;
    --now_bg: #161C3B;
    --dark_bg: #1F1F1F;
    --alt_bg: #BEBCBB;
    --footer_bg: #00439C;
}